<div class="example-button-row d-flex justify-content-end mr-5">
  <div class="example-flex-container">
    <div class="example-button-container">
      <button type="button" mat-fab color="primary" ngbPopover="Click me, to add new card!"
              triggers="mouseenter:mouseleave" (click)="openScrollableContent(addNewCard)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #addNewCard let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Card</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form role="form" #createCard="ngForm" (ngSubmit)="onSubmitCreateCard()">
      <div class="form-group">
        <label for="cardTitle">Card Name</label>
        <input type="text" autocomplete="off" required #cardTitle="ngModel" class="form-control"
               name="cardTitle" [(ngModel)]="cardModel.cardTitle" id="cardTitle" placeholder="Card Name">
      </div>
      <div class="form-group">
        <label for="cardUrl">URL</label>
        <textarea type="text" required #cardUrl="ngModel" class="form-control"
                  name="cardUrl" [(ngModel)]="cardModel.cardUrl" id="cardUrl"
                  placeholder="eg. www.socgen.com"></textarea>
      </div>
      <div class="form-group">
        <label for="cardDesp">Description</label>
        <textarea type="text" required #cardDesp="ngModel" class="form-control"
                  name="cardDesp" [(ngModel)]="cardModel.cardDesp" id="cardDesp"
                  placeholder="Describe the card..."></textarea>
      </div>
      <div class="form-group">
        <label for="groupName">Group</label>
        <select id="groupName" required #groupName="ngModel" class="form-control"
                name="groupName" [(ngModel)]="formGroupModel.groupName">
          <option selected>none</option>
          <option *ngFor="let groupModel of groupModels"
                  value="{{groupModel.groupName}}">{{groupModel.groupName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cardLevel">Level</label>
        <select id="cardLevel" required #cardLevel="ngModel" class="form-control"
                name="cardLevel" [(ngModel)]="cardModel.cardLevel">
          <option *ngFor="let userLevel of userLevels">{{userLevel}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-outline-primary">Add</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
