<div class="row mb-2 mt-2 group-card-space" *ngIf="!isGroupCardCalled">
  <h3>Owner</h3>
  <div class="d-flex justify-content-start">
    <div class="card mb-2 mr-2 card-hover" *ngFor="let ownerGroup of ownerGroups"
         (click)="callGroup(ownerGroup.groupInfo)" style="width: 15rem;">
      <h6 class="card-header">{{ownerGroup.groupInfo.groupName}}</h6>
      <div class="card-body">
        <h6 class="card-title">{{ownerGroup.groupInfo.groupDesp}}</h6>
        <p class="text-secondary">Cards: {{ownerGroup.cardsCount}} Members: {{ownerGroup.membersCount}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row group-card-space" *ngIf="!isGroupCardCalled">
  <h3>User</h3>
  <div class="d-flex justify-content-start">
    <div class="card mb-2 mr-2 card-hover" *ngFor="let userGroup of userGroups" style="width: 15rem;">
      <h6 class="card-header">{{userGroup.groupInfo.groupName}}</h6>
      <div class="card-body">
        <h6 class="card-title">{{userGroup.groupInfo.groupDesp}}</h6>
        <p class="text-secondary">Cards: {{userGroup.cardsCount}} Members: {{userGroup.membersCount}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isGroupCardCalled && !isGroupMemberCalled">
  <div class="row col-lg-11 mb-2" style="border-bottom: 1px solid gray">
    <div class="icon">
      <mat-icon (click)="goBack()">keyboard_backspace</mat-icon>
    </div>
    <h3 style="padding-top: 3px">Group Name</h3>
    <div class="members-button">
      <button mat-stroked-button color="primary" (click)="goToMembers()">
        <mat-icon>person</mat-icon>
        Members
      </button>
    </div>
  </div>
  <div class="row group-card">
    <div class="card mb-2 mr-2" *ngFor="let card of cards" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{card.cardTitle}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{card.cardLevel}}</h6>
        <p class="card-text">{{card.cardDesp}}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <app-dashboard-add-button></app-dashboard-add-button>
</div>

<div class="row" *ngIf="isGroupCardCalled && isGroupMemberCalled">
  <div class="row col-lg-11 mb-2" style="border-bottom: 1px solid gray">
    <div class="icon">
      <mat-icon (click)="goBack()">keyboard_backspace</mat-icon>
    </div>
    <h3 style="padding-top: 3px">Group Name</h3>
    <div class="members-button">
      <button mat-stroked-button color="primary" (click)="goToGroupCards()">
        <mat-icon>style</mat-icon>
        Cards
      </button>
    </div>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input autocomplete="off" matInput (keyup)="applyFilter($event)" placeholder="Ex. uername, email..." #input>
    </mat-form-field>
  </div>

  <div class="example-container">
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Tribe</th>
        <th scope="col">Feature</th>
        <th scope="col">Admin</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usersOfGroup of usersOfGroups">
        <td>{{usersOfGroup.userInfo.username}}</td>
        <td>{{usersOfGroup.userInfo.email}}</td>
        <td>{{usersOfGroup.userInfo.tribe}}</td>
        <td>{{usersOfGroup.userInfo.feature}}</td>
        <td>{{usersOfGroup.admin}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>




