<div class="container col-md-10 mt-3">
  <form role="form" #createGroup="ngForm" (ngSubmit)="onSubmitCreateGroup(createGroup)">
    <div class="form-group">
      <label for="groupName">Group Name</label>
      <input type="text" autocomplete="off" required #groupName="ngModel" class="form-control"
             id="groupName" placeholder="Group Name" name="groupName" [(ngModel)]="groupModel.groupName">
    </div>
    <div class="form-group">
      <label for="groupDesp">Description</label>
      <textarea type="text" required #groupDesp="ngModel" class="form-control"
                id="groupDesp" placeholder="Describe group here..." name="groupDesp"
                [(ngModel)]="groupModel.groupDesp"></textarea>
    </div>
    <div class="form-group">
      <ejs-multiselect id='localData' #local="ngModel" [(value)]="value" [(ngModel)]="value"
                       [dataSource]='userList' [fields]='localFields' [placeholder]='localWaterMark'></ejs-multiselect>
    </div>
    <button type="submit" class="btn btn-outline-primary" ejs-button>Create</button>
  </form>
</div>
