<app-dashboard-navbar selectedTab="myCards"></app-dashboard-navbar>

<div class="row mt-2">
  <div *ngFor="let cardDetail of cardDetails;" class="card mb-2 mr-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{cardDetail.cardTitle}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{cardDetail.cardLevel}}</h6>
      <p class="card-text">{{cardDetail.cardDesp}}</p>
      <button type="button" class="btn btn-outline-info" (click)="openScrollableContent(openShortUrl, cardDetail)">Short
        Url
      </button>
      <a href="#" class="card-link">Open Url</a>
    </div>
  </div>
</div>

<app-dashboard-add-button></app-dashboard-add-button>

<ng-template #openShortUrl let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Short Url</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="isShortUrlGenerated">
      <p>{{shortUrl}}</p>
      <button mat-raised-button color="primary" [cdkCopyToClipboard]="shortUrl">Copy to clipboard
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div *ngIf="!isShortUrlGenerated">
      <p>Looks like short url is not generated!</p>
      <button mat-raised-button color="primary" (click)="generateShortUrl()">Generate Short Url
        <mat-icon>link</mat-icon>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
