<app-dashboard-navbar selectedTab="myCards"></app-dashboard-navbar>

<div class="row mt-2">
  <div *ngFor="let cardDetail of cardDetails;" class="card mb-2 mr-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{cardDetail.cardTitle}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{cardDetail.cardLevel}}</h6>
      <p class="card-text">{{cardDetail.cardDesp}}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>

<app-dashboard-add-button></app-dashboard-add-button>
